<!DOCTYPE html>
<html>
<head>
<title><%= title %> | chat room(<%= room_name %>)</title>
<link rel='stylesheet' href='/css/style.css' />
</head>
<body>
<h1><%= title %> : chat room(<%= room_name %>)</h1>

<h2>user list</h2>
<div id="client-list"></div>

<h2>messages</h2>
<div id="message-list"></div>

<form action="/chat/<%= room_name %>/<%= nickname %>" method="post" id="message-form">
	<input type="text" id="message-text" name="message-text" />
	<input type="submit" value="send" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script>
	var room_name = '<%= room_name %>';
	var nickname = '<%= nickname %>';
	var socket = io.connect( 'http://localhost' );

	socket.on( 'message', function( data )
	{
		console.log( 'message : ', data );
		$( '#message-list' ).append( '<p>' + data.nickname + ' : ' + data.message + '</p>' );
	} );

	socket.on( 'join', function( data )
	{
		console.log( 'join : ', data );

		$( '#client-list' ).empty();
		$.each( data, function( key, val )
		{
			$( '#client-list' ).append( '<p>' + val + '</p>' );
		} );
	} );

	socket.emit( 'join', { "room_name" : room_name, "nickname" : nickname } );

	$( '#message-form' ).on( 'submit', function()
	{
		if( $( '#message-text' ).val() )
		{
			socket.emit( 'message', { nickname:nickname, message:$( '#message-text' ).val() } );
			$( '#message-text' ).val( '' );
		}

		return false;
	} );
</script>
</body>
</html>