<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">
<title><%= title %> | chat room(<%= room_name %>)</title>
<link rel='stylesheet' href='/css/style.css' />
</head>
<body class="chat">
<h1 id="chat-service-info"><%= title %> : chat room(<%= room_name %>)</h1>

<div id="rooms" class="list-wrap first">
	<h2 class="header">rooms <a href="/chat/users" id="refresh-rooms" class="clickable">refresh</a></h2>
	<div class="list"></div>
</div>

<div id="clients" class="list-wrap">
	<h2 class="header">users <a href="/chat/users" id="refresh-clients" class="clickable">refresh</a></h2>
	<div class="list"></div>
</div>

<div id="clients-in-this-room" class="list-wrap">
	<h2 class="header">users in this room <a href="/chat/users/current+room" id="refresh-clients-in-this-room" class="clickable">refresh</a></h2>
	<div class="list"></div>
</div>

<div id="messages" class="list-wrap last">
	<h2 class="header">messages</h2>
	<div class="list"></div>
</div>

<form action="/chat/<%= room_name %>/<%= nickname %>" method="post" id="message-form">
	<span id="whisper"></span>
	<input type="text" id="message-text" name="message-text" />
	<input type="submit" value="send" />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/jquery-2.1.1.min.js"></script>
<script>
	var room_name = '<%= room_name %>';
	var nickname = '<%= nickname %>';
	var socket = io.connect();

	var updateRooms = function( data )
	{
		$( '#rooms .list' ).empty();
		for( var i = 0; i < data.length; i++ )
		{
			var $room = $( '<div class="clickable" data-room="' + data[ i ] + '">' + data[ i ] + '</div>' );
			$room.on( 'click', function()
			{
				if( room_name !== $( this ).data( 'room' ) )
				{
					socket.emit( 'left-room', { room_name: room_name, nickname: nickname } );
					socket.emit( 'join', { room_name: $( this ).data( 'room' ), nickname: nickname } );
				}
			} );

			$( '#rooms .list' ).append( $room );
		}
	};

	var updateClients = function( data )
	{
		$( '#clients .list' ).empty();
		for( var key in data )
		{
			if( socket.io.engine.id !== key )
			{
				var $user = $( '<div class="clickable" data-socket-id="' + key + '">' + data[ key ] + '</div>' );
				$( '#clients .list' ).append( $user );
			}
		}
	};

	var updateClientsInThisRoom = function( data )
	{
		console.log( 'clients-in-this-room  : ', data );

		$( '#clients-in-this-room .list' ).empty();
		for( var key in data )
		{
			if( socket.io.engine.id !== key )
			{
				var $user = $( '<div class="clickable" data-socket-id="' + key + '">' + data[ key ] + '</div>' );
				$( '#clients-in-this-room .list' ).append( $user );
			}
		}
	};

	var addMessage = function( data )
	{
		console.log( 'message : ', data );

		var $message = $( '<p><span class="nickname">' + data.nickname + '</span><span class="message">' + data.message + '</span></p>' );

		if( data.nickname === nickname )
			$message.css( 'background', '#eee' );

		if( data.css )
			$message.css( data.css );

		$( '#messages .list' ).append( $message );
	};

	socket.on( 'message', function( data )
	{
		addMessage( data );
	} );

	socket.on( 'join', function( data )
	{
		console.log( 'join : ', data );

		$( 'title' ).html( '<%= title %> | chat room(' + data.room_name + ')' );
		$( '#chat-service-info' ).html( '<%= title %> : chat room(' + data.room_name + ')' );

		if( room_name !== data.room_name )
		{
			room_name = data.room_name;
			history.pushState( { room_name: data.room_name, nickname: data.nickname }, '<%= title %> | chat room(' + data.room_name + ')', '/chat/' + data.room_name + '/' + data.nickname );
		}

		updateClients( data.clients );
		updateClientsInThisRoom( data.clients_in_this_room );
	} );

	socket.on( 'rooms', function( data )
	{
		updateRooms( data );
	} );

	socket.on( 'clients', function( data )
	{
		updateClients( data );
	} );

	socket.on( 'clients-in-this-room', function( data )
	{
		updateClientsInThisRoom( data );
	} );

	socket.emit( 'join', { "room_name": room_name, "nickname": nickname } );

	$( '#message-form' ).on( 'submit', function()
	{
		if( $( '#message-text' ).val() )
		{
			socket.emit( 'message', { nickname: nickname, message: $( '#message-text' ).val() } );
			$( '#message-text' ).val( '' );
		}

		return false;
	} );

	if( location.href.indexOf( room_name ) < 0 )
		history.pushState( { room_name: room_name, nickname: nickname }, '<%= title %> | chat room(<%= room_name %>)', '/chat/<%= room_name %>/<%= nickname %>' );
</script>
</body>
</html>